 <style>
        body {
            width: 100%;
            font-size: 16px;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
         }
         #id1 {
            border: double 6px rgb(66, 64, 64);
             outline: solid 2px rgb(68, 64, 64);
             margin: 50px;
             margin-top: 40px;
             padding-left: 20px;
             padding-right: 20px;
             box-sizing: border-box; 
        }
        #nk{
            border: none;
            outline: none;
            font-size: 16px;
        }
        h2{
            margin-top: 14px;
            text-align: center;
        }
        #n1{
            padding-right: 30px;
        }
        input[type="text"]
      {
          border: none;
          overflow: hidden;
          border-bottom: 2px dotted;
          outline:none;
          font-size: 12px;
          width: 150px;
      }
      #b1 a{
            position: relative;
            left: 48%;
            text-decoration: none;
            border: 2px double rgb(100, 97, 97);
            border-radius: 3px;
            padding-left: 9px;
            padding-right: 9px;
          }

          #b1 #b2{
            position: relative;
            left: 48%;
            text-decoration: none;
            border: 2px double rgb(100, 97, 97);
            border-radius: 3px;
            padding-left: 9px;
            padding-right: 9px;
         } 

         #b1 a{
            position: relative;
            left: 48%;
            text-decoration: none;
            border: 2px double rgb(100, 97, 97);
            border-radius: 3px;
            padding-left: 9px;
            padding-right: 9px;
          }

          #b1 #b2{
            position: relative;
            left: 48%;
            text-decoration: none;
            border: 2px double rgb(100, 97, 97);
            border-radius: 3px;
            padding-left: 9px;
            padding-right: 9px;
         } 

    </style>

<body>
    <div id="id1">
        <u>
   <h2>Physical complications at the time of Admission</h2>
   </u>

   <textarea name="k1" id="nk" cols="30" rows="30" style="width: 100%;"></textarea>
 <br>
 <br>
 <br>
 <p id="m">
 <input type="text" style="position: relative;">
 <input type="text" style="position: relative; left:50%">
 <br>
 <b>Examined By:</b>
 <b style="position: relative; left:56%">Signature of the Family:</b>
</p> 

<div id="b1">
      <a routerLink="../sixth" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>P</b></a> 
      <b id="b2" style="text-decoration: none; color:black; background-color: rgb(243, 237, 237);display: inline-block; vertical-align: top;">7</b>
  
    </div>
</div>
    
</body>
